. {
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  width: 560px;
}

div{
    background-color: white;
    height: auto;
    padding-left: 10px;
}

#content{
    height: 440px;
}

div#ImgHeader{
    float: left;
    margin-left: -5px;
}

img{
    width: 100px;
    height: 90px;
}

#textSpanHeader1{
    font-size: 30px;
}

#textSpanHeader2{
    font-size: 12px;
    color: white;
    background-color: #444444;
    margin-left: 70px;
    border: 1px solid #444444;
    border-radius: 20px;
    padding: 2px;
}

#textSpanHeader3{
    font-size: 50px;
    color: #444444;
}