. {
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}

div {
  padding: 10px;
  background-color: bisque;
  width: 62%;
}

table {
  border: 2px solid rgb(180, 65, 180);
  background-color: lemonchiffon;
}

span{
    margin-left: 65px;
    color:  rgb(180, 65, 180);
    font-weight: bolder;
}

th, td, tr {
  border: 1px solid violet;
  text-align: center;
  padding: 2px 10px 2px 10px;
}

th {
  background-color: violet;
}

td, tr {
  background-color: rgb(240, 190, 245);
  font-weight: bolder;
}

.number-stt {
  background-color: aquamarine;
}

.text {
  font-style: italic;
  color: rgb(0, 132, 255);
}

.tieude {
    text-decoration: underline;
}
