* {
    margin: 0 auto;
    padding: 1px;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.container {
    width: 70%;
    background-color: white;
    padding: 20px;
}

.div-container--transform {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.div-container--box-shadow {
    box-shadow: 0px 0px 18px black;
}

.div-container__p__span--color {
    color: blue;
}

#div__p__span_1::after {
    content: " (top-left) (top-right) (bottom-right) (bottom-left)";
    color: red;
}

#div__p__span_2::after {
    content: " 0px 30px 70px 20px";
    color: red;
}

#div__p__span_3--color,
#div__p__span_4--color {
    color: green;
    font-weight: 500;
}

.tab {
    margin-left: 0px;
    border-spacing: 0px;
}

.tab__tr__td {
    padding: 5px 10px 5px 10px;
}

.tab__tr__td--align {
    text-align: right;
}

.tab__colgroup--color {
    background-color: #f1f1f1;
}

.tab__tr__td__span_1--color {
    color: blue;
}

.tab__tr__td__span_2--color {
    color: red;
}

.row {
    padding: 30px;
    width: 90%;
}

.div-row__p--border {
    border-color: #85C226 #F7C200 #4493A0 #DF127B;
    border-style: solid;
    border-width: 10px;
    border-radius: 0px 30px 70px 20px;
}

.div-row__p {
    text-align: center;
}