* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.container {
    width: 50%;
    padding: 10px;
    height: 90%;
    background-color: white;
}

.div--shadow {
    box-shadow: 0 0 18px black;
}

.div--transform {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.form__table {
    margin-left: 0px;
}

.form__table,
option {
    border-spacing: 5px;
}

.form__table__tr {
    font-size: 15px;
    height: 20px;
}

.input--name,
.select--lop,
.select--monHoc {
    width: 245px;
    height: 23px;
    font-size: 15px;
}

.btn {
    width: 80px;
    height: 20px;
}

.table {
    width: 100%;
}

.table,
.table__tr,
.table__tr__th,
.table__tr__td {
    border: 1px solid black;
}
