* {
  margin: 0 auto;
  padding: 1px;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}

div.container{
  background-color: white;
  text-align: left;
  font-size: 30px;
  width: 500px;
}